@import '../components/colors';


.nosotros{
   
    
    &__text{

        padding-left: 10%;
        padding-right: 10%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;

        @media (max-width: 768px) {
            & {
            //   flex-direction: column;
                width: 100%;
              margin: 0;
              padding: 0;
            
            }
          }

        }    

    
        &__text-parrafo{
            color: $color_body;
            text-align: left;
            padding-left: 10%;
            padding-right: 10%;
            
        }

        &__image--container{
            
            height: 150px;
            
        }


}







.separadores{
    margin-top: 20px;
    border: none;
}


.separador-top,.separador-bottom{
    height: 10px;
    background-color: grey;
    width: 600px;
    margin-left: 23%;
    @media (max-width: 768px) {
        & {
        //   flex-direction: column;
            width: 100%;
          margin: 0;
          padding: 0;
        
        }
      }

    }


.slider{
    @media (max-width: 768px) {
        & {
        //   flex-direction: column;
        //   text-align: center;
          width: 300px;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          margin-left:10%;
          align-content: center;
          display: none;
        
        }
      }
}

img{

      
        object-fit: cover;
        width: 100%;
        height: 250px;
        opacity: 70%;
        padding: 10px;
       zoom: 1.5;

       @media (max-width: 768px) {
        & {

        object-fit: fill;
          margin: 0;
          padding: 0;
          scale:1.5
        
        }
      }
    
    
}


.nosotros__image_1{
    object-position: center top;
}

.nosotros__image_2{
    object-position: center bottom;
}


.collapse {
    &:not(.show) {
      display: none;
    }
  }
  
  // .collapsing {
  //   height: 0;
  //   overflow: hidden;
  //   @include transition($transition-collapse);
  
  //   &.collapse-horizontal {
  //     width: 0;
  //     height: auto;
  //     @include transition($transition-collapse-width);
  //   }
  // }