
$color_navbar: #DDDDDD;
$color_searchBar: #222831;
$color_body: #30475E;
$color_articulos: #F05454;
$color_gris: #393E46;
$color_oscuro: #121013;
$color_claro: #F6F5F5;
$color_wpp: rgba(5, 93, 5, 0.721);

$color_fondo_planes:rgba(245, 222, 179, 0.673);
$color_fondo:rgba(254, 241, 216, 0.493);
$color_gris_claro: #c4c7d198;