@import './colors';

.footer{

    background-color: $color_gris;
    color: $color_claro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
    &__container{
         display: flex;
      flex-direction: row;
      align-items: center;
    padding: 10px;
  
    text-align: left;
    
  
    }

    &__logo-container{
        // padding-top: 50px;
      //  text-align: center;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       

        h3{
            // padding-bottom: 50px;
            text-align: right;
            display: flex;
            flex-direction: column;
            color: $color_articulos;
        }

        img{
        padding: 0;
        height: 80px;  
        border-radius: 60%;
        
        }
    }
  
  div{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  h3{
  
  
    height: 20%;
    text-align: center;
    font-size: medium;
  }
  
  ul{
    list-style-type: none;
      padding-bottom: 10px;
  
    li{
      padding: 5px;
      font-style: normal;
      font-size: medium;
      font-weight: 200;
    }
    
    a{
      color: $color_claro;
      font-style: normal;
      font-size: medium;
      font-weight: 200;
    }
    

  }
  
  @media (min-width: 360px) and (max-width: 768px) {
    & {
      min-width: 400px;
      max-width: 100%;
      height: 100%;
   
  }

&__container{
    display: flex;
      flex-direction: column;
      flex-wrap: wrap; 
      
}

&__logo-container{
    padding-top: 0;

    img{
        display: flex;
        flex-direction: row;  
        scale:0.8
    }
    
}

ul, h3{
    padding-top: 5px;
    
}

  }
}